.menu-bar {
    -fx-text-alignment: center center;
    -fx-alignment: center center;
    -fx-tile-alignment: center center;
    -fx-font-family: "Franklin Gothic Demi Cond";
    -fx-font-size: 20px;
    -fx-background-color: #ffffff;

}

.menu-item {
    -fx-font-family: "Franklin Gothic Demi Cond";
    -fx-font-size: 15px;
}

.label {
    -fx-font-family: "Franklin Gothic Demi Cond";
}

.text-area {
    -fx-font-family: "Franklin Gothic Demi Cond";
    -fx-font-size: 14px;
}

.text-field {
    -fx-font-family: "Franklin Gothic Demi Cond";
    -fx-font-size: 14px;
}

.button{
    -fx-font-family: "Franklin Gothic Demi Cond";
    -fx-font-size: 14px;
}